* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #e8ffd7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.timer_main {
  background-color: #5e936c;
  height: 100px;
  width: 50vh;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 2px solid #3e5f44;
}

.button button {
  padding: 15px 30px;
  margin: 20px 10px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #3e5f44;
  background-color: #93da97;
}
