body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00ADB5;
}


#display {
    width: 100%;
    padding: 10px;
    font-size: 5rem;
    background-color: #393E46;
    border: none;
    text-align: left;
    color: white;
}

.calculatur {
    background-color: #222831;
    max-width: 500px;
    overflow: hidden;
    border-radius: 30px;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #393E46;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 3rem;
}

.mainBtn {
    background-color: #F97A00;
}